body{
  font-family: Arial, Helvetica, sans-serif;
}
.authMain{
  display: flex;
  width: 100%;
  height: 100%;
}
.authLeft{
  background-image: url('./assets/rm373batch3-01.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 100vh;

}
.authRight{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;

}