.loginMain{
  background: url('assets/Images/ems.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% ;
}
.loginForm{
  background-color: rgba(1,32,93,0.6);
  color: white;
}