.loginPage{
  background: url('assets/1606.m00.i125.n016.S.c12.Business\ people\ team\ work\ managment\ structure\ vector\ illustration.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}
.loginForm{
  background-color: rgba(1,32,93,0.6);
  color: white;
}
li:hover{
  background-color: grey;
}